.component-name{
    color: #607d8b;
}

.component-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.component-toolbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}