<mat-toolbar>
    <div class="component-toolbar">
        <div>
            Component:
        </div>
        <div>
            <span class="component-name">{{ selectedDiagramComponent?.name }}</span>
        </div>
        <div>
            <button mat-button (click)="openComponentDocumentation(selectedDiagramComponent)">
                <mat-icon>link</mat-icon>
            </button>
        </div>
    </div>
</mat-toolbar>

<mat-tab-group>
    <mat-tab label="ExposesServices">
        <mat-card>
            <mat-list>
                <mat-list-item *ngFor="let service of currentDiagramComponent?.servicesExtended">
                    <div class="component-row">
                        <div>
                            {{ service.name }}
                        </div>
                        <div>
                            <button mat-button (click)="openComponentDocumentation(service)">
                                <mat-icon>link</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-list-item>
            </mat-list>
        </mat-card>
    </mat-tab>
    <mat-tab label="ConsumesServices">
        <mat-card>
            <mat-list-item *ngFor="let service of currentDiagramComponent?.consumesExtended">
                <div class="component-row">
                    <div>{{ !!service.parentComponent ? service.parentComponent : '{external}' }}:{{ service.name }}</div>
                    <div>
                        <button mat-button (click)="openComponentDocumentation(service)">
                            <mat-icon>link</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-list-item>
        </mat-card>
    </mat-tab>
    <mat-tab label="UsedByComponents">
        <mat-card>
            <mat-list-item *ngFor="let component of currentDiagramComponent?.consumedBy">
                <div class="component-row">
                    <div>
                        {{ component.name }}
                    </div>
                    <div>
                        <button mat-button (click)="openComponentDocumentation(component)">
                            <mat-icon>link</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-list-item>
        </mat-card>
    </mat-tab>
</mat-tab-group>
