.component-name{
    color: #607d8b;
}

.component-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    // cursor: pointer;
}

.component-toolbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.panel-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}