<mat-toolbar>
    <div class="component-toolbar">
        <div>
            Component:
        </div>
        <div>
            <span class="component-name">{{ selectedDiagramComponent?.name }}</span>
        </div>
        <div>
            <button mat-button (click)="openComponentDocumentation(selectedDiagramComponent, '')">
                <mat-icon>link</mat-icon>
            </button>
        </div>
    </div>
</mat-toolbar>

<mat-tab-group>
    <mat-tab label="ExposesServices">
        <mat-card>
            <div *ngFor="let service of currentDiagramComponent?.servicesExtended">
                    <app-method-reference-info-card 
                        [entityName]="service.name"
                        [entityUrl]="generateDocumentationUrl(service)"
                        [methodReference]="service?.reference"
                        [component]="service.parentComponent"
                        [isLazyLoaded]="true">
                    </app-method-reference-info-card>
            </div>
        </mat-card>
    </mat-tab>
    <mat-tab label="ConsumesServices">
        <mat-card>
            <div *ngFor="let service of currentDiagramComponent?.consumesExtended">
                <app-method-reference-info-card 
                    [entityName]="((!!service.parentComponent ? service.parentComponent : '{external}') + ':' + service.name)"
                    [entityUrl]="generateDocumentationUrl(service)"
                    [methodReference]="service?.reference"
                    [component]="service.parentComponent">
                </app-method-reference-info-card>
            </div>
        </mat-card>
    </mat-tab>
    <mat-tab label="UsedByComponents">
        <mat-card>
            <div *ngFor="let component of currentDiagramComponent?.consumedBy">
                <app-method-reference-info-card 
                    [entityName]="component.name"
                    [entityUrl]="generateDocumentationUrl(component)"
                    [methodReference]="component?.reference"
                    [component]="component.name">
                </app-method-reference-info-card>
            </div>
        </mat-card>
    </mat-tab>
</mat-tab-group>
