.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}


.sidenav-info {
    width: 35%;
    min-width: 100px;
}

.mat-tooltip-panel{
    width: 300px;
}
// .source-tooltip {
//     width: 300px !important;
// }