.procedure-container {
    width: auto;
    margin: 40px;
}

.warning-message{
    color: #901a07;
    font-size: small;
}
.header-token {
    padding: 8px;
}

// .sync-invocation :hover {
//     background: #ff42172e;
// }

.sync-invocation {
    background: #ff421714 !important;
}
.async-invocation {
    background: aliceblue !important;
}

.container-channel{
    font-weight: bold;
}
// aliceblue
// chocolate
