<div class="row">
    <div class="col">
        <app-list
            [configurationItems]="configurationItems$ | async"
            [layout]="layout$ | async"
            (changeConfigSelection)="onDrawingConfigurationSelection($event)"
            (componentChecked)="onConfigurationChanged($event)"
            (changeLayout)="onChangeLayout($event)">
        </app-list>
    </div>
    <div class="col">
        <app-diagram
            [configurationItems]="configurationItems$ | async"
            [layout]="layout$ | async"
            [graphData]="graphData">
        </app-diagram>
    </div>
</div>