<mat-card>
    <mat-card-content>
        <mat-toolbar>
            <span>Configure</span>
            <span>
                <button
                    (click)="onDrawingConfigurationSelection(true)"
                    mat-button
                    color="primary">
                    SelectAll
                </button>
            </span>
            <span>
                <button
                    (click)="onDrawingConfigurationSelection(false)"
                    mat-button
                    color="primary">
                    UnselectAll
                </button>
            </span>
        </mat-toolbar>
        <mat-card>
            <mat-card-subtitle>Configuration</mat-card-subtitle>
            <mat-form-field>
                <mat-label>Select Graph Layout...</mat-label>
                <mat-select [value]="layout" (selectionChange)="onChangeLayout($event.value)">
                    <mat-option 
                        *ngFor="let layoutKey of layoutsKey" 
                        [value]="layoutKey">
                        {{layouts[layoutKey]}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card>
        <cdk-virtual-scroll-viewport itemSize="50" class="configuration-items-container">
                <mat-list role="list">
                    <div *cdkVirtualFor="let component of configurationItems">
                        <mat-list-item 
                            role="listitem">
                            <mat-checkbox
                                [checked]="component.isChecked"
                                (change)="onConfigurationChanged(component,$event)">
                                {{component.name}}
                            </mat-checkbox>
                        </mat-list-item>
                    </div>
                </mat-list>
        </cdk-virtual-scroll-viewport>
    </mat-card-content> 
</mat-card>