.cy {
  width: auto;
  min-height: 800px;
  display: block;
  margin: 30px;

  // .internal-procedure-call {
  //   background-color: slateblue;
  // }

  // .external-service-call {
  //   background-color: teal;
  // }
}

mat-form-field {
  margin-right: 15px;
}



