<mat-card>
  <mat-form-field>
    <mat-label>Component...</mat-label>
    <mat-select [(value)]="selectedComponent" (selectionChange)="changeQuery()">
      <mat-option *ngFor="let cmp of components" [value]="cmp">
        {{cmp}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button
      (click)="buildRoot()"
      mat-button
      color="primary">
      Build
  </button>
  <!-- <mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Favorite food" value="Sushi">
    </mat-form-field>
  </mat-form-field> -->
</mat-card>

<div class="root-container" *ngFor="let persistentObject of objectsToPresent">
  <app-persistent-object-container [container]="persistentObject"></app-persistent-object-container>
</div>
